@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.mxW {
  max-width: 1140px;
  margin: auto;
}

.df-jcsb {
  display: flex;
  justify-content: space-between;
}

.df {
  display: flex;
} /* display flex*/

.txt-c {
  text-align: center;
}

.img-W {
  width: 100%;
  height: 100%;
}
