@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.mA {
  margin: auto;
}
.mxW {
  max-width: 1140px;
}

.df {
  display: flex;
}
