@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

.container {
  /* background: #000; */
  background: #171729;
}

/* ============================= */

/* HEADER STARTS  */
.header {
  background: #171729;
  height: 70px;
  /* margin-top: 20px; */
  padding-top: 20px;
}

/* HEADER ENDS */

/* ============================= */
/* NAV BAR STARTS */
.nav-bar {
  /* display: inline-block; */
  align-items: center;
  justify-content: center;
}
/* 
.nav-bar ul li a {
  margin-left: 20px;
} */

.nav-bar ul li a {
  justify-content: space-around;
}

.nav-img {
  align-items: center;
  height: 40;
  width: 110px;
}
.button-primary {
  padding: 3px 6px;
}

.button-secondary {
  padding: 3px 6px;
}

.text-white {
  text-decoration: none;
}
/* NAV BAR ENDS */

.section1Container {
  background-color: #171729;
}

.s1-center h1 {
  font-size: 60px;
  font-weight: 400px;
}

.s1-center p {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.s1-buttons {
  width: 100%;
}
.email-submit {
  padding: 0 20;
  border-radius: 10px;
  border: none;
  font-size: 19px;

  background-color: #fff;

  margin: 0;
  width: 300;
  height: 50px;
}

.button-primary-sign {
  padding: 12 25;
  border-radius: 10px;
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
  margin: 0;

  height: 50px;
}

.s1-center h6 {
  font-size: 15px;
  margin-top: 15px;
}
.sign-in {
  text-decoration: underline;
  color: green;
  cursor: hand;
}

.s1-center {
  text-align: center;
  margin-bottom: 80px;
}

.section2-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.company-logo {
  /* margin: -10px -30px; */
}
.company-logo-img {
  padding: 10px 30px;
  height: 25px;
}
.img-pr-left {
  position: relative;
  right: 20px;
}
.img-pr-right {
  position: relative;
  left: 20px;
}

/* .mx-w h2,
p {
  text-align: center;
} */

/* SECTION 3 STYLE STARTS */
.section3-container {
  padding: 30px 20px;
}

.section3 h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 20px;
  line-height: 54px;
}

.section3 p {
  /* font-weight: ; */
  text-align: center;
  font-size: 20px;
  font-family: "dm-sans-regular", sans-serif;
}
/* SECTION 3 STYLE ENDS  */
/* =============================================== */

/* SECTION 4 STARTS STARTS  */
.section4-contianer {
  background: #fffcf0;
  padding: 40px 20px;
}

.section4 {
  margin-right: 60px;
}

.s4-left {
  font-family: "dm-sans-bold", sans-serif;
  text-align: left;
  margin-right: 60px;
}

.s4-right {
  font-family: "dm-sans-bold", sans-serif;
  /* text-align: ; */
  text-align: left;
  font-size: 16px;
  /* flex-basis: 640px; */
}

.s4-right p {
  text-align: justify;
  /* max-width: ; */
}

/* SECTION 4 STARTS ENDS  */
/* =========================================== */

/* SECTION 5 STARTS  */

.section5-container {
}

.s5-left {
  font-family: "";
}

.s5-left ul li {
  padding: 30px;
}

.s5-left ul li h4 {
  font-size: 24px;
}

.s5-left-heading {
  font-family: "dm-sans-semibold", sans-serif;
  margin-bottom: 10px;
  font-weight: 400;
}

.s5-right {
}

/* SECTION 5 ENDS */
/* ================================================= */
/* SECTION 6 STARTS */

/* SECTION 6 ENDS */
/* ==================================================== */
/* SECTION 7 STARTS */

/* SECTION 7 ENDS */
/* ============================================================ */

/* SECTION 8 STARTS  */

/* SECTION 8 ENDS  */
/* =========================================================== */
/* SECTION 9 STARTS */
/* SECTION 9 ENDS */
/* ============================================================= */

/* =========================================================== */
/* SECTION 10 STARTS */
/* SECTION 10 ENDS */
/* ============================================================= */

/* =========================================================== */
/* SECTION 11 STARTS */
/* SECTION 11 ENDS */
/* ============================================================= */

/* =========================================================== */
/* SECTION 12 STARTS */
/* SECTION 12 ENDS */
/* ============================================================= */

/* =========================================================== */
/* SECTION 13 STARTS */
/* SECTION 13 ENDS */
/* ============================================================= */

/* =========================================================== */
/* SECTION 14 STARTS */
/* SECTION 14 ENDS */
/* ============================================================= */

/* =========================================================== */
/* SECTION 15 STARTS */
/* SECTION 15 ENDS */
/* ============================================================= */

/* =========================================================== */
/* SECTION 16 STARTS */
/* SECTION 16 ENDS */
/* ============================================================= */
